@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
}

@font-face {
    font-family: 'Montserrat';
    src: url(assets/Montserrat-VariableFont_wght.ttf);
  }

@layer base {
    body {
        font-family: 'Montserrat';
    }
  }